// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.products {

	.navbar-default {
		margin-bottom: 0px;
	}

		.navbar-default a {
			color: #424242;
			font-family: 'Oswald';
		}

	.navbar-header {
		padding-left: 60px;
	}

	.navbar-right {
		padding-right: 30px;
	}

		.navbar-brand {
			font-size: 225%;
		}

	.index-col1 {
		margin-top: 9%;
		margin-left: -18px;
		position: fixed;
		border: 1px solid lightgrey;
		border-radius: 5px;
		padding: 10px 10px;
	}

	.index-col2 {
		margin-top: 5%;
		margin-left: 27%;
	}

	.index-col3 {
		margin-top: 5%;
	}

	#product_category {
		width: 296px;
		margin-bottom: 10px;
		height: 35px;
	}

	.index-col3 h4 {
		margin-top: 2%;
	}

	.row-2 {
		width: 837px;
		margin: 0px auto;
	}

	.caption-2, .thumbnail-2, .col-md-9 {
		width: 837px;
	}

	.add-product {
		width: 35%;
		margin: 40px auto;
		padding-top: 40px;
	}

	.product-form {
		margin-top: 30px;
		width: 90%;
	}

	.product-all {
		 height: 150px;
	}

	.carousel {
		margin-bottom: 10px;
	}
		.carousel-control {
			border-radius: 3.5px;
		}

		.product-image {
			width: 800px;
			height: 350px;
		}

		.product-img {
			max-height: 350px;
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		}
}